<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Erro na Ativação</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="alert alert-danger">
        <h4 class="alert-heading">Erro na ativação da conta</h4>
        <p th:text="${error}">Mensagem de erro padrão</p>
        <hr>
        <a th:href="@{/contact}" class="btn btn-primary">Contatar Suporte</a>
    </div>
</div>
</body>
</html>