<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:tr="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>
<div class="header">
    <div class="logo">
        <img th:onclick="|window.location.href='@{/home}'|" th:src="@{/images/logo.png}" alt="Logo" class="logo-img">
    </div>
    <div class="buttons">
        <div sec:authorize="isAuthenticated()">
            <span class="form-group" th:text="${#authentication.principal.nickname}"></span>
            <div class="separator"></div>
            <form th:action="@{/logout}" method="post" style="display:inline;">
                <button class="button">Logout</button>
            </form>
        </div>
    </div>
</div>

<div class="form-container">
    <h1 class="title">Registrar Pontuação</h1>
    <h2 class="subtitle" th:text="'Grupo: ' + ${group.name}"></h2>

    <form th:action="@{'/matches/' + ${match.id} + '/save-scores'}" method="post">
        <table class="score-table">
            <thead>
            <tr class="score-header-row">
                <th class="score-header">Jogador</th>
                <th class="score-header">Pontuação</th>
                <th class="score-header">Vencedor</th>
            </tr>
            </thead>
            <tbody>
            <tr class="score-row" th:each="player : ${players}">
                <td class="score-cell" th:text="${player.nickname}"></td>
                <td class="score-cell">
                    <input type="number" class="score-input" name="scores" min="0" value="0" required>
                    <input type="hidden" name="playerIds" th:value="${player.id}">
                </td>
                <td class="score-cell winner-cell">
                    <input type="checkbox" class="winner-checkbox" name="winners" th:value="${player.id}">
                </td>
            </tr>
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary btn">Salvar Pontuações</button>
    </form>
</div>

<div class="footer-bar">
    Convide seus amigos e comece a marcar suas partidas de dominó agora mesmo!
</div>
</body>
</html>